@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--gray);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --orange-hover: hsl(21, 86%, 67%);
  --orange: #e46644;
  --white: hsl(0, 0%, 100%);
  --whitish-gray: hsl(0, 0%, 96%);
  --very-light-gray: hsl(0, 0%, 89%);
  --light-gray: hsl(222, 9%, 78%);
  --gray: hsl(213, 4%, 51%);
  --bluish-gray: hsl(217, 8%, 38%);
  --dark-gray: hsl(213, 9%, 23%);
  --very-dark-gray: hsl(220, 7%, 18%);
  --blackish-gray: hsl(216, 8%, 12%);
  --almost-black: hsl(225, 9%, 9%);
}